body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}


header {
    background-color: #333;
    color: white;
    padding: 20px;
    text-align: center;
}

nav {
    background-color: #555;
    text-align: center;
    padding: 10px;
}

nav a {
    color: white;
    margin: 15px;
    text-decoration: none;
    font-weight: bold;
}

nav a:hover {
    color: yellow;
}


.section {
    background-color: white;
    margin: 20px;
    padding: 20px;
    border-radius: 5px;
}


ul {
    list-style-type: square;
    padding-left: 20px;
}


form input, form textarea {
    width: 100%;
    margin: 10px 0;
    padding: 8px;
}

button {
    background-color: #333;
    color: white;
    padding: 10px 15px;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: green;
}


footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
}
